<h1>Flights</h1>

<%= @flights.each do |flight|  %>
<div id = "flight-<%=flight.number %>">
    <h4><%= "Flight Number: #{flight.number}, Airline: #{flight.airline.name}" %> </h4>
      
    <h4>Passengers:</h4>
    <% flight.passengers.each do |passenger| %>
        
        <p><%= passenger.name %></p>
        <%= button_to("Remove Passenger", flight_path(passenger), method: :delete, params: { flight_id: flight.id }) %>
        
    <% end %>
        </div>
<% end %>