<h1>All Flights</h1>

<% @flights.each do |flight| %>
  <div id="flight-<%= flight.id %>">
  <h2><%= flight.airline.name %> Flight #<%= flight.number %></h2>
  <% flight.passengers.each do |passenger| %>
    <li id="passenger-<%= passenger.id %>"><%= passenger.name %>
    <%= button_to "remove", "/flights/#{flight.id}/passengers/#{passenger.id}", method: :delete %></li>
  <% end %>
  </div>
<% end %>
