<h1>Flights</h1>

<ul>
<% @flights.each do |flight| %>
  <li id="flight-<%=flight.id%>">
  Number: <%= flight.number %>
    <ul>
      <li>
        Airline: <%= flight.airline.name %> <br>
        Passengers:
        <ul>
        <% flight.passengers.each do |passenger| %>
          <li>
          <%= passenger.name %>
          <%= button_to("Remove Passenger", flight_flight_passenger_path(flight.id, passenger.id), method: :delete, params: {passenger_id: passenger.id, flight_id: flight.id})%>           
          </li>
        <% end %>
        </ul>
      </li>
    </ul>
  </li>
<% end %>

</ul>