<% @flights.each_with_index do | flight, index| %>
<div id="flight-<%= index %>">
  <h1><p>Flight Number: <%= flight.number %>  Airline: <%= flight.airline_name %></p><br></h1>
  <h2>Passengers:</h2>
    <p><% flight.passenger_flights. each do | passenger | %></p>
      <p><%= passenger.find_name %></p>
      <%= form_with url: '/flights', method: :delete, local: true do |f| %>
      <%= f.text_field :id, value: @passenger.id, hidden: true %>
      <%= f.submit, "Remove {#{passenger.find_name} from this flight" %>
      <% end  %>
    <% end %>
  </div>
  <% end %>
