<h1>All Flights</h1>
<% @flights.each do |flight| %>
<section id='flight-<%=flight.id%>'>
    <p><b>Flight:</b> <%= flight.number %></p>
    <p><b>Airline:</b> <%= flight.airline.name %></p>
    <b>Passengers:</b> <% flight.passengers.each do |passenger| %>
      <li><%=passenger.name%></li>
    <% end %>
    <% flight.passengers.each do |passenger| %>
    <%= button_to "Remove #{passenger.name} from flight", "/flights/#{flight.id}/passengers", method: :delete, params: {flight_id: flight.id, passenger_id: passenger.id} %>
    <% end %>
    <br>
  </section>
<% end %>
