<h1>All Flights By Number</h1>
<% @flights.each do |flight| %>
  <div class=<%= "flight_#{flight.id}" %>>
    <%= flight.number %> <%= flight.airline.name %>
    <% flight.passengers.each do |passenger| %>
      <%= passenger.name %> <%= button_to "Remove #{passenger.name}", "/flights/#{flight.id}/#{passenger.id}/destroy", method: :delete %>
    <% end %>
  </div>
<% end %>
